* {
    font-family: Calibri, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: white;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    margin: auto;
    max-width: 1400px;;


}

.line{
    width:100px;
    height:4px;
}

.background{
    background-color: #EAF0F9;
}

.obj {

    width: 25%;
    gap: 1px;

}

.p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #383838;



}

.text {
    font-size: 25px;
    font-weight: 500;
    color: #3d98ff;
}

.text2 {
    font-size: 25px;
    font-weight: 500;


}

.tx {
    font-size: 25px;
    font-weight: 10;
    color: #cecece;


}

.section-row {
    display: flex;
    gap: 16px;
    align-items: center;
}

.picture1{
    width:100px;
    height:100px;
}
.picture{
    width:300px;
    height:300px;
}


.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 300px;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(50%, 50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}
.container {
    position: relative;
    width: 50%;
}